/* MEMBERS */

body.directory.members aside {
	display: none;
}

body.directory.members section {
	float: none;
	margin-left: auto;
	margin-right: auto;

}
	


body form#whats-new-form #whats-new-options #whats-new-submit a.submit-button {
	background-color: #666;
}

/* TOP BAR */

div#reality-logo {
	display: none;
}

div.top-bar div.nav-holder {
	left: -10px;
}


/* FOOTER */

footer .full_width {
	background: #222;
	border-top: 18px solid #000;
}

/* Fixes the Quick Actions Widget*/
aside.quick-actions li a {
  display: block;
  text-align: left;
  text-decoration: none;
  width: 125%;
  color: #777777;
  text-transform: uppercase;
  font-size: 1.95em;
  font-family: 'Yanone Kaffeesatz', Arial, san-serif;
  padding: 2px 0px 5px;

}

/* Changes header area to take up less of screen */
body header {

    /* For Deals slider header */
    .header-slider {
        height: 13em;
    }

    div.slider-nav {
		ul {
			li {
				height: 4em;
			}
		}
	}

    /* Header with image (normal header)*/
    #header-with-image {
        .aspect-control {
            padding-top: 17em;
        }
    }
}